/* Fonts */

html {
  font-size: 16px;
}
body {
  font-family: "Roboto Condensed";
}

header {
  height: 64px;
  color: #e52a6f;
}

.container {
  padding-top: 12px
}

.container img {
  padding-left: 24px;
}

.container span {
  font-size: 30px;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  margin-right: 1rem;
  display: flex;
  flex-direction: row

}

li {
  padding-left: 16px;
  list-style: none;
}

li:active {
  color: #675682;
}

p {
  color: #5f0f4e;
}

.cta {
  color: #e52a6f;
}
.cta1 {
  color: white;
}
.first-banner-flex {
  display: flex;
  background-color: #67aeca;
  color: white;
}

.first-image {
  margin: 32px 24px;
  width: 60%;
  height: auto;
}
.first-image img {
  height: 100%;
  width: 100%;

  }
.right-block {
  display: flex;
}
.banner-words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-words h1 {
  font-weight: bold;
  color: white;
  font-size: 36px;
  padding-bottom: 36px;
}

.banner-words h1:hover {
  color: #675682;
  transition: 0.3s ease-in;
}
.banner-words h3 {
  padding-top: 24px;
  padding-bottom: 48px;
}

.banner-words h3:hover {
  color: #675682;
  transition: 0.3s ease-in;
}

.button {
  background-color: #e52a6f;
  color: lightgray;
  display: flex;
  justify-content: center;
  padding: 16px;
  margin-right: 25px;
  width: 40%;
  border-radius: 5px;
}

.button:hover {
  background-color: #5f0f4e;
  transition: 0.3s ease-in;
}

.second-banner {
  display: flex;
  padding-top: 10px;
}

.hurt {
  margin: 32px 24px;
  width: 60%;
  height: auto;
}

.hurt img {
  height: auto;
  width: 100%;
  padding-bottom: 32px;

}

.hurt span {
  font-size: 2rem;
  font-weight: bold;
  color: #675682;
}

.hurt p {
  padding-top: 24px;
}
.info-box {
  display: flex;
  flex-direction: row;
  border: 1px solid #67aeca;
}

.info-box:hover {
  background-color: #67aeca;
  opacity: 0.5;
  transition: 0.2s ease-in;
}

.info-box img {
  width: 80%;
  height: auto;
  padding: 16px;

}

.info-words {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-words span {
  font-weight: bold;
  font-size: 2rem;
  color: #675682;

}

.info-words p {
  padding-top: 8px;
  padding-bottom: 8px;
}

.third-banner {
  background-color: #67aeca;

}
.third-banner .title {
  padding: 32px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.third-banner .title:hover {
  color: #675682;
  transition: 0.2s;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
  padding-bottom: 32px;

}
.item {
  background-color: white;
  display: grid;
  width: 30%;
  margin-bottom: 1rem;
}

.item:hover {
  background-color: #e52a6f;
  opacity: 0.7;
  transition: 0.2s ease-in;
}

.item img {
  width: 100%;
}

.item-words {
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
}

.item-words span {
  font-weight: bold;
  color: #675682;
}

.item-words  p {
  font-weight: lighter;
  padding-top: 8px;
}

.item-words:hover {
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  padding: 32px;
  font-size: 3rem;
  font-weight: bold;
  color: #675682;
}

.presentation-banner {
  display: flex;
}

.presentation-display {
  margin: 32px 24px;
  width: 609px;
}
video {
  width: 100%;
  padding-bottom: 24px;
}

.presentation-display span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #675682;
}

.presentation-display p {
  padding-top: 24px;
}

.thesis-box {
  display: flex;
  flex-direction: row;
  width: 423px;
  height: 168px;
  padding: 16px;
  border: 1px solid #67aeca;
}
.thesis-box:hover {
background-color: #67aeca;
opacity: 0.5;
transition: 0.2s ease-in;
}

.thesis-image {
  width: 35%;
}
.thesis-image img {
  width: 100%;
}
.thesis-words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.thesis-words span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #675682;
  padding-bottom: 32px;
}

.footer {
  padding-left: 24px;
  height: 64px;
}

@media only screen and (max width 375px) {
  .first-image img {
    display: none;
  }

}
